@font-face {
    font-family: gmx;
    src: url(font/Ubuntu-B.ttf);
}

html {
  background: #FFFFFF;
  color: black;
  font-family: "gmx", "Lucida Console", Monaco, monospace;
  font-size: 26px;
}

h1 {
  font-size: 56px;
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 42px;
}

h4 {
  font-size: 36px;
}


a, a.visited {
  color: #AAAAAA;
}

code, pre {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 24px;
}

.content {
  margin-left: 20%;
  margin-right: 20%;
}

.indent {
  margin-left: 20px;
}

table {
  margin-left: 20px;
  border-collapse: collapse;
}

td {
  padding: 10px;
}
