<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="style.css">
  <title>GMx</title>
</head>
<body>
  <div class="content">

    <h1>GMx</h1>
    <p>
      Welcome to GMx, the game server of COSI.
    </p>

    <h3>007</h3>
    <p class="indent">
      Modpack wth most tech mods, and some magic mods to change it up. See <a href="007.html">this page</a> for more details.
    <p class="indent">
    <h4>IP and Port:</h4>
    <code class="indent">128.153.145.150:2424</code>

    <h4>Current Status:</h4>

    <!-- CONTENT -->

    <h2>Installation Instructions</h2>
    <p class="indent">
      Click <a href="install.html">here</a> for help on installing things.
    </p>

    <h2>Files, and Old Versions</h2>
    <p class="indent">
      All of the current versions can be found at <a href="/files">/files</a>,
      and older versions of mods can be found at <a href="/old">/old</a>.
    </p>

    <h2>Contact Information</h2>
    <p class="indent">
      <a href="mailto:jrddunbr@gmail.com">contact</a> the operator here.
      <br/><br/>
      We will reply as soon as possible
    </p>

    <h4>Website Licensing</h4>
  	<p class="indent">
      for music licensing, click <a href="music.html">here</a>
      <br/><br/>
      for font licensing, click <a href="font/">here</a>
    </p>
  </div>
  <audio src="music/epic-song.mp3" style="display:hidden" autoplay loop></audio>
</body>
</html>
